body {
  display: flex;
  flex-direction: column;
}

.arrangementsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  // flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;

  .imageButton {
    display: flex;
    min-width: 200px;
    max-width: 40%;
    flex: 1 1 auto;
  }
}

.cartContainer {
  display: flex;
  gap: 15px;

  #checkoutBtn {
    display: flex;
    align-self: flex-end;
  }

  .cartImage {
    max-width: 125px;
  }

  .cartText {
    font-size: small;
  }

}

.orderForm {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-self: flex-end;
}

#cartButton {
  max-width: 50px;
  align-self: flex-end;
}